@model List<matallurgical_plant.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .main_block {
        background-image: url(https://github.com/ultoRjs/psp/blob/lab2/lab2/back3.jpg?raw=true);
        margin: -20px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: Georgia;
        color: #085e59;
    }

    .block1 {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        color: #03172e;
        font-weight: bold;
    }

    .img_1 {
        width: 600px;
        height: 600px;
        margin-left: 50px;
        border: 10px solid white;
    }

    .info_picture {
        width: 45%;
        margin-left: 650px;
        margin-top: -500px;
        padding: 30px;
        font-family: Georgia;
        font-size: 16px;
        font-style: italic;
    }

    h2 {
        text-align: center;
        font-size: 40px;
        color: gray;
        font-style: normal;
    }

    h3 {
        text-align: center;
        font-size: 30px;
    }
    .continue {
        padding-left:20px;
        width: 100%;
        font-family: Georgia;
        font-size: 16px;
        font-style: italic;
    }
</style>
<div class="main_block">
    <div class="block1">
        <br>
        <h3>История</h3>
        <p></p>
        <p>МИ построен фирмами «Фест-Альпине» (Австрия) и «Даниели» (Италия). Первоначальная производственная мощность завода — 700 тысяч тонн стали в год. Первая плавка, как и разливка СТАЛЬ 1 ГОСТ, была произведена 15 октября 1984 года. Первый директор БМЗ — Дерожант Левонович Акопов.</p>
        <p>
            Согласно программе развития завода на 2011—2015 года, на БМЗ была проведена самая масштабная в его истории модернизация.
            В 2014-м была завершена реконструкция сталеплавильной печи № 1 и машины непрерывного литья заготовок № 2.
            Реализованные мероприятия позволили увеличить производительность агрегатов до 1 и 1,2 млн т/год, соответственно.
            Также в начале 2014-го завершено строительство новой известково-обжигательной установки № 3.
            Данный объект позволяет удовлетворить нарастающую потребность производства в свежеобожжённой извести.
            Проведена комплексная реконструкция пылегазоулавливающей установки № 1, которая позволила улучшить экологическую обстановку вокруг предприятия, снизить потери тепла с первичными отходящими газами и обеспечить полное дожигание СО.
            Ключевым проектом данной программы модернизации стало строительство мелкосортно-проволочного стана, который был введен в эксплуатацию в сентябре 2015 года.
            В ноябре 2016-го новый цех вышел на проектную мощность производства.
        </p>
        <br>
    </div>

    <div class="img">
        <img class="img_1" src="https://sdelanounas.ru/i/d/3/d/f_d3d3LmZpbmFtLnJ1L0ltYWdlcy91L25ld3NvbmxpbmUvMjAyMDA3LzEyMzEuanBnP19faWQ9MTM0MzQy.jpeg" alt="Завод">
        <div class="info_picture">
            <h2>Структура производства</h2>
            <p>
                Сегодня предприятие структурно состоит из четырех, связанных одной технологической цепочкой производств — сталеплавильное,
                прокатное, трубное, метизное — и цехов инфраструктуры, подразделений управления жизнедеятельностью предприятия.
                Функционирующие на БМЗ два электросталеплавильных цеха на данный момент способны производить около 3 миллионов тонн стали в год.
                В настоящее время электросталеплавильный цех № 1 осуществляет выплавку и разливку рядовых марок сталей,
                а электросталеплавильный цех № 2 — конструкционных и легированных.
                Электросталеплавильные цеха оборудованы тремя дуговыми электропечами суммарной ёмкостью 300 тонн, контролируемыми ЭВМ.
                Сортопрокатное производство МИ представлено двумя цехами. Сортопрокатный цех № 1 производит выпуск крупносортного и мелкосортного проката, а также катанки.
            </p>
        </div>

        <p class="continue">
            Цех оснащен мелкосортным станом 320, проволочным станом 150 и реверсивным прокатным станом 850. Сортопрокатный цех №2, запуск в работу которого состоялся в сентябре 2015 года, оснащен мелкосортно-проволочным прокатным станом общей производительностью 700.000 т/год.
            Трубное производство представлено трубопрокатным агрегатом, включающим в себя косовалковый прошивной стан, 4-клетевой стан и редукционно-растяжной стан для производства труб, ориентированных преимущественно на нефтегазовую отрасль и машиностроение.

            Метизное производство Белорусского металлургического завода представлено тремя сталепроволочными цехами и вспомогательным цехом тары и волок. Перечень выпускаемой ими продукции включает следующие позиции: металлокорд, бортовая бронзированная проволока для автомобильных шин, латунированная проволока для армирования рукавов высокого давления, арматурная, сварочная, пружинная, спицевая, гвоздевая проволока, проволока общего назначения и фибра стальная (анкерная, волновая и микрофибра).
        </p>
    </div>
</div>


